python-dotenv
google-genai
playwright
requests
google-adk
crewai-tools
langchain
langchain_community
langchain-google-genai
unstructured
langchain_chroma
unstructured_inference
pillow-heif
pypdf
pdf2image
unstructured_pytesseract
arize-phoenix
arize-phoenix-otel
opentelemetry-api
opentelemetry-sdk
openinference-instrumentation-google-genai
openinference-instrumentation-langchain
langchain_huggingface
sentence-transformers
flashrank
rank_llm
langchain-graph-retriever
langchain-graph-retriever[chroma]
langgraph
langchain-tavily
duckduckgo-search
wikipedia
wikibase-rest-api-client
mediawikiapi
tavily-python
isort
black
pytest